<div class="container">
  <div class="nav">
    <span>Collaborators</span>
    <%= link_to 'Home', root_path %>
  </div>
  <ul class="collabs wrapper">
    <% if @collaborators.present? %>
      <% @collaborators.each do |user| %>
        <li class="uid-<%= user.id %>">
          <span><%= user.name %></span>
          <%= link_to 'Delete', project_path(:collab => user.name), :method => :delete,
            :class => "btn btn-danger right" %>
        </li>
      <% end %>
    <% end %>
  </ul>

  <%= form_tag add_collaborator_path, :method => :post do %>
    <%= autocomplete_field_tag :collab, '', autocomplete_user_name_projects_path, :size => 25 %>
    <%= button_tag 'Add collaborator', :disabled => true, :class => 'btn btn-success btn-collab' %>
  <% end %>

  <div class="collab-error">
    <%= flash[:notice] %>
  </div>
</div>
<script>
  $('#collab').bind('input', function() {
    $('.btn-collab').attr("disabled", true);
  });
  $('#collab').bind('railsAutocomplete.select', function(){
    $('.btn-collab').attr("disabled", false);
  });
</script>